@import "./common/vars.scss";
@import "./common/mixins.scss";

.atk-brand-logo {
  display: none;
  @media #{$sm}{
    position: fixed;
    left: 0;
    top: 0;
    background-color: $white;
    display: inline-block;
    height: 64px;
    width: 100vw;
    cursor: pointer;
    text-decoration: none;
    z-index: 99999999;
    @include flex-row-center;
    @include shadow;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 20px;
    > img {
      height: 36px;
      width: auto;
    }
  }
}


.atk-mobile-button{
  width: 36px;
  height: 36px;
  border-radius: 10px;
  @include flex-col-center;
  background-color: $color-1;
  border: 0;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  top: 14px;
  z-index: 99999999999999999;
  @media #{$sm}{
    display: flex;
  }
  &:after{
    width: 36px;
    height: 36px;
    @include flex-col-center;
    content: "";
    color: $white;
    background: {
      position: center;
      repeat: no-repeat;
      size: 18px auto;
      image: url("data:image/svg+xml;base64,
      PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIC01MyAzODQgMzg0IiB3aWR0aD0iNTEyIiBjbGFzcz0iIj48Zz48cGF0aCBkPSJtMzY4IDE1NC42Njc5NjloLTM1MmMtOC44MzIwMzEgMC0xNi03LjE2Nzk2OS0xNi0xNnM3LjE2Nzk2OS0xNiAxNi0xNmgzNTJjOC44MzIwMzEgMCAxNiA3LjE2Nzk2OSAxNiAxNnMtNy4xNjc5NjkgMTYtMTYgMTZ6bTAgMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkZGRkZGIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPjxwYXRoIGQ9Im0zNjggMzJoLTM1MmMtOC44MzIwMzEgMC0xNi03LjE2Nzk2OS0xNi0xNnM3LjE2Nzk2OS0xNiAxNi0xNmgzNTJjOC44MzIwMzEgMCAxNiA3LjE2Nzk2OSAxNiAxNnMtNy4xNjc5NjkgMTYtMTYgMTZ6bTAgMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkZGRkZGIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPjxwYXRoIGQ9Im0zNjggMjc3LjMzMjAzMWgtMzUyYy04LjgzMjAzMSAwLTE2LTcuMTY3OTY5LTE2LTE2czcuMTY3OTY5LTE2IDE2LTE2aDM1MmM4LjgzMjAzMSAwIDE2IDcuMTY3OTY5IDE2IDE2cy03LjE2Nzk2OSAxNi0xNiAxNnptMCAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGRkZGRkYiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=");
    }
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.atk-divider {
  height: 24px;
  width: auto;
}

.atk-home {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  .atk-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

.atk-inicio {
  width: 100vw;
  height: auto;
  position: relative;
  height: 500px;
  background: {
    repeat: no-repeat;
    size: auto 100%;
    position: bottom left;
    image: url("https://triggerlab.sfo2.digitaloceanspaces.com/atk/atk-wave-inicio.svg");
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  .atk-titles {
    padding-top: 72px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    @media #{$sm}{
      padding-left: 20px!important;
      font-size: 14px;
    }
    > h1, > span {
      color: $black;
    }
    > span {
      @media #{$sm}{
        line-height: 14px;
      }
    }
    .atk-button {
      margin-top: 40px;
    }

  }
  .atk-inicio-piscina {
    height: 270px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
}

.atk-catalogo {
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
  background-color: $border;
  padding-bottom: 40px;
  @media #{$sm}{
    height: 800px;
  }
  .atk-titles {
    min-width: 25%;
    padding-left: 60px!important;
    padding-right: 20px!important;
    @media #{$sm}{
      padding-left: 20px!important;
      margin-top: 20px!important;
    }
  }
}

.atk-titles {
  @include clean-webkit;
  @include zero-hard;
  color: $white;
  display: inline-block;
  width: auto;
  min-width: 25%;
  padding-left: 60px!important;
  padding-right: 20px!important;
  font: {
    size: 18px;
    weight: 600;
  }
  text-align: center;
  height: 36px;
  line-height: 36px;
  border-radius: 0px 18px 18px 0px;
  @media #{$sm}{
    padding-left: 20px!important;
    font-size: 14px;
  }
  &.color-1{
    background-color: $color-1;
  }
  &.color-2 {
    background-color: $color-2;
  }
  &.color-3 {
    background-color: $color-3;
  }
  &.color-4 {
    background-color: $color-4;
  }
  &.black {
    background-color: $black;
  }
}

.atk-services {
  z-index: -1;
  margin-top: -2px;
  height: auto;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  background: {
    repeat: repeat-x;
    size: auto 100%;
    position: top left;
    image: url("https://triggerlab.sfo2.digitaloceanspaces.com/atk/atk-bg-gradient.png");
  }
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  @media #{$sm}{
    padding-bottom: 0px;
  }
  .atk-titles {
    min-width: 30%;
    border-radius: 18px 0px 0px 18px;
    padding-left: 60px!important;
    padding-right: 20px!important;
    position: absolute;
    right: 0px;
    top: 10px;
    text-align: left;
  }
  .atk-servicio-piscina {
    width: 30%;
    height: auto;
    position: absolute;
    left: calc(50% - 30% - 80px);
    bottom: 80px;
    z-index: 0;
    @media #{$sm}{
      position: relative;
      left: initial;
      bottom: initial;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .atk-service-description {
    width: 30%;
    padding-bottom: 72px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    @media #{$sm}{
      align-items: center!important;
    }
    p {
      width: 100%;
      text-align: left;
      @media #{$sm}{
        text-align: center;
      }
    }
    .atk-button {
      margin-top: 40px;
    }
    @media #{$sm}{
      width: 100%;
    }
  }
}


.atk-clients{
  padding-top: 80px;
  @include flex-col-center;
  @media #{$sm}{
    padding-top: 20px;
  }
  > h1 {
      color: $black;
      margin-bottom: 60px!important;
      @media #{$sm}{
        margin-bottom: 40px!important;
        font-size: 18px!important;
      }
  }
  .atk-clients-wrapper {
    width: 100%;
    @include clean-list;
    @include zero-hard;
    @include flex-row-center;
    margin-bottom: 100px!important;
    @media #{$sm}{
      flex-direction: column!important;
      margin-bottom: 30px!important;
    }
    .atk-client {
      @include clean-list;
      @include zero-hard;
      width: 25%;
      height: 100%;
      @include flex-col-center;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0px;
      }
      @media #{$sm}{
        width: 100%;
        margin-right: 0px;
        height: auto;
      }
      .atk-client-img {
        @include clean-webkit;
        @include zero-hard;
        margin-bottom: 20px!important;
        height: 250px;
        width: 250px;
        position: relative;
        border-radius: 125px;
        box-sizing: border-box;
        background: {
          color: $white;
          size: 100% auto;
          position: center;
          repeat: no-repeat;
        }
        @media #{$sm}{
          width: 150px;
          height: 150px;
        }
      }
      .atk-client-description {
        @include flex-col-center;
        color: $black;
        h3 {
          color: $color-3;
          @include clean-webkit;
          font: {
            size: 18px;
            weight: 600;
          }
          text-align: center;
        }
        p {
          width: 60%;
          height: auto;
          text-align: center;
          font: {
            size: 13px;
            weight: 500;
          }
        }
        @media #{$sm}{
          margin-bottom: 40px;
        }
      }
    }
  }
  .atk-divider {
    margin-bottom: 40px;
  }
}

.atk-contact-wave {
  width: 100%;
}


.atk-contact {
  width: 100%;
  padding-bottom: 80px;
  background-color: $border;
  @include flex-col-center;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: -2px;
  h1 {
    width: 35%;
    box-sizing: border-box;
    @include flex-col-center;
    color: $white;
    background-color: $color-2;
    padding-left: 40px!important;
    padding-right: 40px!important;
    border-radius: 20px;
    height: 36px;
    font: {
      size: 21px;
      weight: 600;
    }
    margin-bottom: 80px;
    box-sizing: border-box;
    @media #{$sm}{
      width: auto;
    }
  }
  form {
    box-sizing: border-box;
    width: 35%;
    @include flex-col-center;
    @media #{$sm}{
      width: 80%;
    }
    label {
      color: $black;
      width: 100%;
      text-align: left;
      font: {
        size: 13px;
        weight: 800;
      }
      margin-bottom: 10px;
    }
    input {
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      background: transparent;
      border: 0;
      height: 36px;
      border-bottom: 1px solid $color-2;
      color: $black;
      outline: 0;
      margin-bottom: 40px;
      font: {
        size: 14px;
        weight: 400;
      }
      &::placeholder{
        color: darken($white-alt, 20%);
        font-style: italic;
      }
    }
    textarea {
      width: 100%;
      background: transparent;
      border: 0;
      height: 100px;
      border: 1px solid $color-2;
      color: $black;
      outline: 0;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }
}

.atk-footer {
  background-color: $black;
  color: $white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  @media #{$sm}{
    flex-direction: column!important;
  }
  .section {
    padding: 20px;
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 400;
    }
    @media #{$sm}{
      width: 100% !important;
      margin: 0!important;
      padding: 0!important;
    }
  }
  .atk-logo{
    display: inline-block;
    width: auto;
    @include flex-row-center;
    align-items: flex-end;
    margin-bottom: 20px;
    > img {
      width: 400px;
    }
  }
  a.facebook {
    margin-right: 20px;
  }
  h2 {
    font-size: 16px;
  }
  img {
    width: 36px;
    height: 36px;
  }
}