@import "./common/vars.scss";
@import "./common/mixins.scss";

body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.atk-home {
  width: 100ww;
  position: relative;
  min-height: 100vh;
  .atk-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

.atk-inicio {
  width: 100vw;
  height: auto;
  position: relative;
  height: 500px;
  background: {
    repeat: no-repeat;
    size: cover;
    position: relative;
    image: url("https://triggerlab.sfo2.digitaloceanspaces.com/atk/atk-wave-inicio.svg");
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  .atk-titles {
    padding-top: 72px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    .atk-button {
      margin-top: 40px;
    }
    .atk-divider {
      height: 24px;
      width: auto;
    }
  }
  .atk-inicio-piscina {
    height: 270px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    > h1, > span {
      color: $black;
    }
  }
}

.atk-catalogo {
  width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
  .atk-titles {
    @include clean-webkit;
    @include zero-hard;
    color: $white;
    display: inline-block;
    width: auto;
    padding-left: 60px!important;
    padding-right: 20px!important;
    font: {
      size: 18px;
      weight: 600;
    }
    text-align: left;
    height: 36px;
    line-height: 36px;
    border-radius: 18px 18px 0px 0px;
    &.color-1 {
      background-color: $color-1;
    }
    &.color-2 {
      background-color: $color-2;
    }
    &.color-3 {
      background-color: $color-3;
    }
    &.color-4 {
      background-color: $color-4;
    }
    &.black {
      background-color: $black;
    }
  }
}