@import "./common/vars.scss";
@import "./common/mixins.scss";

body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.atk-divider {
  height: 24px;
  width: auto;
}

.atk-home {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  .atk-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

.atk-inicio {
  width: 100vw;
  height: auto;
  position: relative;
  height: 500px;
  background: {
    repeat: no-repeat;
    size: auto 100%;
    position: bottom left;
    image: url("https://triggerlab.sfo2.digitaloceanspaces.com/atk/atk-wave-inicio.svg");
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  .atk-titles {
    padding-top: 72px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    > h1, > span {
      color: $black;
    }
    .atk-button {
      margin-top: 40px;
    }

  }
  .atk-inicio-piscina {
    height: 270px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
}

.atk-catalogo {
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
  background-color: $border;
  padding-bottom: 40px;
  .atk-titles {
    min-width: 25%;
    padding-left: 60px!important;
    padding-right: 20px!important;
  }
}

.atk-titles {
  @include clean-webkit;
  @include zero-hard;
  color: $white;
  display: inline-block;
  width: auto;
  min-width: 25%;
  padding-left: 60px!important;
  padding-right: 20px!important;
  font: {
    size: 18px;
    weight: 600;
  }
  text-align: center;
  height: 36px;
  line-height: 36px;
  border-radius: 0px 18px 18px 0px;
  &.color-1{
    background-color: $color-1;
  }
  &.color-2 {
    background-color: $color-2;
  }
  &.color-3 {
    background-color: $color-3;
  }
  &.color-4 {
    background-color: $color-4;
  }
  &.black {
    background-color: $black;
  }
}

.atk-services {
  z-index: -1;
  margin-top: -2px;
  height: auto;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  background: {
    repeat: repeat-x;
    size: auto 100%;
    position: top left;
    image: url("https://triggerlab.sfo2.digitaloceanspaces.com/atk/atk-bg-gradient.png");
  }
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  .atk-titles {
    min-width: 30%;
    border-radius: 18px 0px 0px 18px;
    padding-left: 60px!important;
    padding-right: 20px!important;
    position: absolute;
    right: 0px;
    top: 10px;
    text-align: left;
  }
  .atk-servicio-piscina {
    width: 30%;
    height: auto;
    position: absolute;
    left: calc(50% - 30% - 80px);
    bottom: 80px;
    z-index: 0;
  }
  .atk-service-description {
    width: 30%;
    padding-bottom: 72px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    p {
      width: 100%;
      text-align: left;
    }
    .atk-button {
      margin-top: 40px;
    }
  }
}


.atk-clients{
  padding-top: 80px;
  @include flex-col-center;
  > h1 {
      color: $black;
      margin-bottom: 60px!important;
  }
  .atk-clients-wrapper {
    width: 100%;
    @include clean-list;
    @include zero-hard;
    @include flex-row-center;
    margin-bottom: 100px!important;
    .atk-client {
      @include clean-list;
      @include zero-hard;
      width: 25%;
      height: 100%;
      @include flex-col-center;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0px;
      }
      .atk-client-img {
        @include clean-webkit;
        @include zero-hard;
        margin-bottom: 20px!important;
        height: 250px;
        width: 250px;
        position: relative;
        border-radius: 125px;
        box-sizing: border-box;
        background: {
          color: $white;
          size: 100% auto;
          position: center;
          repeat: no-repeat;
        }
      }
      .atk-client-description {
        @include flex-col-center;
        color: $black;
        h3 {
          color: $color-3;
          @include clean-webkit;
          font: {
            size: 18px;
            weight: 600;
          }
          text-align: center;
        }
        p {
          width: 60%;
          height: auto;
          text-align: center;
          font: {
            size: 13px;
            weight: 500;
          }
        }
      }
    }
  }
  .atk-divider {
    margin-bottom: 40px;
  }
}

.atk-contact-wave {
  width: 100%;
}


.atk-contact {
  width: 100%;
  padding-bottom: 80px;
  background-color: $border;
  @include flex-col-center;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: -2px;
  h1 {
    width: 35%;
    box-sizing: border-box;
    @include flex-col-center;
    color: $white;
    background-color: $color-2;
    padding-left: 40px!important;
    padding-right: 40px!important;
    border-radius: 20px;
    height: 36px;
    font: {
      size: 21px;
      weight: 600;
    }
    margin-bottom: 80px;
    box-sizing: border-box;
  }
  form {
    box-sizing: border-box;
    width: 35%;
    @include flex-col-center;
    label {
      color: $black;
      width: 100%;
      text-align: left;
      font: {
        size: 13px;
        weight: 800;
      }
      margin-bottom: 10px;
    }
    input {
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      background: transparent;
      border: 0;
      height: 36px;
      border-bottom: 1px solid $color-2;
      color: $black;
      outline: 0;
      margin-bottom: 40px;
      font: {
        size: 14px;
        weight: 400;
      }
      &::placeholder{
        color: darken($white-alt, 20%);
        font-style: italic;
      }
    }
    textarea {
      width: 100%;
      background: transparent;
      border: 0;
      height: 100px;
      border: 1px solid $color-2;
      color: $black;
      outline: 0;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }
}

.atk-footer {
  background-color: $black;
  color: $white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  .section {
    padding: 20px;
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 400;
    }
  }
  .atk-logo{
    display: inline-block;
    width: auto;
    @include flex-row-center;
    align-items: flex-end;
    margin-bottom: 20px;
    > img {
      width: 400px;
    }
  }
  a.facebook {
    margin-right: 20px;
  }
  h2 {
    font-size: 16px;
  }
  img {
    width: 36px;
    height: 36px;
  }
}