@import "../../styles/common/vars.scss";
@import "../../styles/common/mixins.scss";

.atk-banner {
  width: 100%;
  height: 450px;
  position: relative;
  box-sizing: border-box;
  background: transparent;
  .atk-banner-group {
    width: 100%;
    height: 400px;
    position: absolute;
    @include clean-list;
    @include zero-hard;
    @include flex-row-center;
    left: 0;
    top: 0;
    opacity: 0;
    @include animate;
    &.active {
      opacity: 1;
    }
    .atk-banner-slide {
      @include clean-list;
      @include zero-hard;
      width: 25%;
      height: 100%;
      @include flex-col-center;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0px;
      }
      .atk-banner-img {
        @include clean-webkit;
        @include zero-hard;
        margin-bottom: 20px!important;
        height: 250px;
        width: 250px;
        position: relative;
        border-radius: 10px;
        border: 10px solid rgba(darken($white-alt, 5%), 0.5);
        box-sizing: border-box;
        background: {
          color: $white;
          size: 100% auto;
          position: center;
          repeat: no-repeat;
        }
        z-index: 1;
        .atk-slide-description {
          border-radius: 10px;
          width: 250px;
          height: 250px;
          position: absolute;
          top: -10px;
          left: -10px;
          @include flex-col-center;
          @include animate;
          background-color: rgba($color-1, 0.9);
          color: $white;
          opacity: 0;
          z-index: 0;
          h3 {
            @include clean-webkit;
            margin-bottom: 5px!important;
            font: {
              size: 14px;
              weight: 600;
            }
            text-align: center;
          }
          p {
            width: 60%;
            height: auto;
            text-align: center;
            font: {
              size: 12px;
              weight: 400;
            }
          }
        }
        &:hover{
          cursor: pointer;
          .atk-slide-description{
            opacity: 1;
          }
        }
      }
    }
  }
  .atk-banner-buttons{
    @include flex-row-center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    button {
      width: 28px;
      height: 28px;
      margin-right: 20px;
      border: 0;
      background-color: $white;
      outline: 0;
      border-radius: 14px;
      cursor: pointer;
      &.active {
        background-color: $color-1;
      }
      &:last-of-type{
        margin-right: 0px;
      }
    }
  }
}